body {
  padding: 0;
  margin: 0;

  /* Same as on the website */
  color: #0d102b;
  background: #fff;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
